<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All albums
    </h1>

    <a href="/albums/new" class="btn btn-block btn-outline-secondary">
      Add a new album
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "album_templates/albums_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Year
        </th>

        <th>
          Image
        </th>

        <th>
          Artist
        </th>

        <th>
          Genre
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @albums.each do |album| %>
      <tr>
        <td>
          <%= album.id %>
        </td>

        <td>
          <%= album.title %>
        </td>

        <td>
          <%= album.year %>
        </td>

        <td>
          <%= album.image %>
        </td>

        <td>
          <% if album.director.present? %>
            <a href="/artists/<%= album.director.id %>">
              <%= album.director.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= album.genre %>
        </td>

        <td>
          <%= time_ago_in_words(album.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(album.updated_at) %> ago
        </td>

        <td>
          <a href="/albums/<%= album.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @albums, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
