<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Album #<%= @album.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/albums" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/albums/<%= @album.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit album
        </a>
      </div>

      <div class="col">
        <a href="/delete_album/<%= @album.id %>" class="btn btn-block btn-outline-secondary">
          Delete album
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @album.title %>
      </dd>

      <dt>
        Year
      </dt>
      <dd>
        <%= @album.year %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @album.image %>
      </dd>

      <dt>
        Artist
      </dt>
      <dd>
        <% if @album.director.present? %>
          <a href="/artists/<%= @album.artist_id %>">
            <%= @album.director.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Genre
      </dt>
      <dd>
        <%= @album.genre %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@album.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@album.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "album_templates/album_likes" %>
  </div>
</div>
