<form action="/create_album_from_artist" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @album.title %>">
  </div>

  <div class="form-group">
    <label for="year">
      Year
    </label>

    <input type="text" id="year" name="year" class="form-control" value="<%= @album.year %>">
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="text" id="image" name="image" class="form-control" value="<%= @album.image %>">
  </div>

  <input type="hidden" name="artist_id" value="<%= @artist.id %>">

  <div class="form-group">
    <label for="genre">
      Genre
    </label>

    <input type="text" id="genre" name="genre" class="form-control" value="<%= @album.genre %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create album
  </button>
</form>
