<% if @artist.errors.any? %>
  <% @artist.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit artist #<%= @artist.id %>
</h1>

<hr>

<form action="/update_artist/<%= @artist.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @artist.name %>">
  </div>

  <div class="form-group">
    <label for="bio">
      Bio
    </label>

    <textarea id="bio" name="bio" class="form-control" rows="3"><%= @artist.bio %></textarea>
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="text" id="image" name="image" class="form-control" value="<%= @artist.image %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update artist
  </button>
</form>

<hr>

<a href="/artists">
  Go back
</a>
