<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Artist #<%= @artist.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/artists" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/artists/<%= @artist.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit artist
        </a>
      </div>

      <div class="col">
        <a href="/delete_artist/<%= @artist.id %>" class="btn btn-block btn-outline-secondary">
          Delete artist
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @artist.name %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @artist.bio %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @artist.image %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@artist.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@artist.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "artist_templates/artist_filmography" %>
  </div>
</div>
